[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
pandas = "*"
psycopg2-binary = "*"
boto3 = "*"
awscli = "*"
pyathena = "*"
python-dotenv = "*"
botocore = "*"
moto = "*"
sphinx = "*"
recommonmark = "*"
sphinx-rtd-theme = "*"
m2r2 = "*"
pytest-mock = "*"
twine = "*"
pytest = "*"
tox = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
