[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
"psycopg2-binary" = "*"
"boto3" = "*"
botocore = "*"
awscli = "*"
"oss2" = "*"
click = "*"
requests = "*"

[dev-packages]
pylint = "*"
pytest = "*"
tox = "*"
sphinx = "*"
twine = "*"
sphinx-autobuild = "*"
recommonmark = "*"
restview = "*"
sphinx-rtd-theme = "*"
python-dotenv = "*"
autopep8 = "*"
